@model IEnumerable<ConceptArchitect.BookManagement.Favorite>

@{
    ViewData["Title"] = "Index";
    int i = 0;
}

<div class="container">
    <h2 class="favorite-heading">My Favorites</h2>
    <table>
        <thead>
            <tr>
                <th>Photo</th>
                <th>Book Name</th>
                <th>Satus</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var favorite in Model) {
            <tr>
                <td>
                        <img src="ViewBag.Bookmarks[i].CoverPhoto" alt="favorite1" width="100">
                </td>
                    <td class="bookName">ViewBag.Bookmarks[i].Title</td>
                <td class="status">"@favorite.Status"</td>
                <td class="actions">
                    <button class="action" id="edit">Edit</button>
                    <button class="action" id="remove">Remove</button>
                </td>
            </tr>
             i = i + 1;
            }
        </tbody>
    </table>
</div>
@*@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table*@>
